{% extends "index.html" %}

<!--to add the title in the home page-->

{% block title %}

This is the Home page

{% endblock %}

<!--Loop to create the page with all articles-->

{% block headlines %}

{% for headline in headlines.articles %}


<div class="col-sm mb-3">
  <div class="card" style="width: 18rem;">
    <img src="{{headline.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{headline.title}}</h5>
      <p class="card-text">{{headline.description}}</p>
      <a href="{{url_for('single',publishedAt=headline.publishedAt)}}" class="btn btn-primary">Read</a>
    </div>
  </div>
</div>

<script>

   localStorage.setItem("{{headline.publishedAt}}","{{headline.url}}")

</script>

{% endfor %}

{% endblock %}