<!-- {% extends "index.html" %}  -->

<!--to add the title in the single page-->

<!-- {% block title %}

This is the single article page

{% endblock %}



{% block headlines %}


<div class="col-sm mb-3">
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      
      <p class="card-text" id="headline"></p>
  
    </div>
  </div>
</div>


<script>

var description = localStorage.getItem("{{publishedAt}}")

document,getElementById("headline").innerHTML = url

</script>


{% endblock %} -->




<!-- <a href="{{url_for('single',publishedAt=headline.publishedAt)}}" class="btn btn-primary">Read</a> -->