{% extends "index.html" %}

<!--to add the title in the home page-->

{% block title %}

This is the Home page

{% endblock %}

{% block Section %}

<h2 class="section-heading text-uppercase">General News</h2>

{% endblock %}

<!--Loop to create the page with all articles-->

{% block masthead %}

<header class="masthead2">
    <div class="container text-warning">

        <h1>Organize your day by priorities</h1>

        <form action="/add" method="POST">
            <div>

                <label for="">Todo Today</label>
                <input type="text" name="todo_title" id="todo_title" placeholder="Enter your Todo..."><br>
                <button type="Submit">Add</button>

            </div>
        </form>

        {% for todo in todo_list %}
        
        <p> {{ todo.id }} |  {{ todo.title }}</p>

        {% if todo.complete == false %}

        <span>Not complete</span>

        {% else %}

        <span>Complete</span>

        {% endif %}

        <a href="/update/{{ todo.id }}">Update</a>
        <a href="/delete/{{ todo.id }}">Deleted</a>
         
        {% endfor %}
       
    </div>
</header>

{% endblock %}