{% extends "index.html" %}

<!--to add the title in the home page-->

{% block title %}

This is the Home page

{% endblock %}

{% block Section %}

<h2 class="section-heading text-uppercase">General News</h2>

{% endblock %}

<!--Loop to create the page with all articles-->

{% block masthead %}

<header class="masthead2">
    <div class="container text-warning">

        <h1>Organize your day by priorities</h1>

        <form action="">

            <div>

                <label for="">Todo Today</label>
                <input type="text" name="title" placeholder="Enter your Todo...">
                <button type="Submit">Add</button>

            </div>


        </form>
       
    </div>
</header>

{% endblock %}